Downloads

*-------------------------+---------+----------+
|                         | Mirrors | Checksum |
*-------------------------+---------+----------+
| LogWEx ${currentStableVersion} (zip)         | {{{http://logwex.sewatech.org/dist/logwex-all-${currentStableVersion}-bin.zip} logwex-all-${currentStableVersion}-bin.zip}} | {{{http://logwex.sewatech.org/dist/logwex-all-${currentStableVersion}-bin.zip.md5} logwex-all-${currentStableVersion}-bin.zip.md5}} |
*-------------------------+---------+----------+
| LogWEx ${currentStableVersion} (Source zip)         | {{{http://logwex.sewatech.org/dist/logwex-all-${currentStableVersion}-src.zip} logwex-all-${currentStableVersion}-src.zip}} | {{{http://logwex.sewatech.org/dist/logwex-all-${currentStableVersion}-src.zip.md5} logwex-all-${currentStableVersion}-src.zip.md5}} |
*-------------------------+---------+----------+

