<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2010 Sewatech
  ~
  ~ This file is part of LogWEx.
  ~
  ~ LogWEx is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation, in version 3 of the
  ~ License.
  ~
  ~ LogWEx is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty
  ~ of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General
  ~ Public License along with LogWEx. If not, see
  ~ <http://www.gnu.org/licenses/>.

  -->
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>logwex-mdc</filter-name>
        <filter-class>org.sewatech.logwex.MDCPreparerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>logwex-tn</filter-name>
        <filter-class>org.sewatech.logwex.ThreadNamerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>logwex-mdc</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>logwex-tn</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>SimpleLogWExServlet</servlet-name>
        <servlet-class>org.sewatech.logwex.example.SimpleLogWExServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleLogWExServlet</servlet-name>
        <url-pattern>*.log</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Protected Zone</web-resource-name>
        <url-pattern>/secure/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>test</role-name>
      </auth-constraint>
    </security-constraint>
    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>Basic Authentication</realm-name>
    </login-config>

    <security-role>
      <description>Test role</description>
      <role-name>test</role-name>
    </security-role>
    
</web-app>
        